:2015 {
    bind 0.0.0.0
    gzip
    root public
    git {
        repo https://github.com/veda-websites/www_veda-retreats
        branch development
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path . 
    }

#    mailout /www_veda-retreats {
#       maillog     log/caddy-mailout.log
#       errorlog    log/caddy-mailout.log

#       to info@veda-masters.com
#       subject "Text Email from {{ .Form.Get \"name\" }}"
#       body template.txt

#       username "caddymail@greenitglobe.com"
#       password "xthhjouucnpcnhko"
#       host smtp.gmail.com
#       port 465
#       ratelimit_capacity 3
#       ratelimit_interval 6s
#   }
}
